nav.light-blue.lighten-1(style="margin-bottom: 1.5rem;")
    .nav-wrapper.container
        a.brand-logo(href="/index")
            i.material-icons local_dining
            | What's In Your Fridge?
        //- form.center
        //-     .input-field
        //-         input#searchInput(type="text")
        //-         label(for="searchInput") Search
        //-         button.prefix(type="submit")
        //-             i.material-icons search
        ul.right.hide-on-med-and-down
            li
                a(href="/search")
                    i.material-icons search
            li
                a(href="/login")
                    i.material-icons person
            li
                a(href="/Report_Top.html")
                    i.material-icons more_vert