doctype html
html  
    head
        title What's In Your Fridge?
        include includes/head.pug
    body
        include includes/nav.pug
        .container
            main
                block content
            footer
                //- | cool footer with lots of copyrights
        include includes/scripts.pug
        block scripts