/* style sheet only for text and color */
#head1
{
    text-align: center;
    color: rgb(215, 202, 228);
}
#head2
{
    text-align: center;
    text-shadow: 2px 2px rgb(15, 14, 14);
}
#head3
{
    text-align: center;
    text-shadow: 2px 2px rgb(15, 14, 14);
}
#p1
{
    text-align: center;
    color: black;
}
#p2
{
    text-align: center;
    color: black;
}
#area1
{
    text-align: center;
}

#uk-cont-lg, #uk-cont-sm {
    background-color: rgb(200, 169, 214);
}

body
{
    background-image: url("../images/coolbg.jpg");
}

p {
    font-size: 16px;
    font-weight: bold;
    color: rgb(196, 153, 200);
}

ul li::before {
    content: "\2022";
    color: rgb(29, 61, 238);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(200, 169, 214);
    color: rgb(34, 14, 14);
    text-align: center;
 }

 /* unvisited link */
a:link {
    color: rgb(58, 81, 185);
}

/* visited link */
a:visited {
    color: rgb(88, 25, 93);
}

/* mouse over link */
a:hover {
    color: rgb(65, 161, 185);
}

/* selected link */
a:active {
    color: rgb(77, 32, 128);
}